<div class="banner align-content-flex-start">
  <div class="navbar navbar-expand-sm navbar-quinousbrule">
  <%# navbar-light %>
    <div class="container m-5 p-5">
      <%= link_to "PETITS GESTES", root_path(anchor: :simplecomp) %>
      <%= link_to "MON EMPREINTE ANNUELLE", root_path(anchor: :calculator) %>
      <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo_navbar.png" %>
      <% end %>
      <%= link_to "ALERTER MON DÉPUTÉ", root_path(anchor: :contactrep) %>
      <%= link_to "COMMUNAUTÉ", root_path(anchor: :community) %>
    </div>
  </div>
  <div class="container m-5 p-5">
    <div class="row">
      <div class="col-8">
        <h1><span class="title">63 milliardaires français</span> émettent autant de CO2 que 50% de la population.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mb-2">
    <i class="fa-solid fa-arrow-down-long"></i>
  </div>
</div>
