<div class="calculator-container earth" id="calculator" data-controller="display-result">
  <div class="whitecutbottom-earth"><%= image_tag "whitecutbottom.png" %></div>
      <div class="container py-5">
        <h2 class="text-center">Calculer mon empreinte carbone annuelle </h2>
        <div class="row justify-content-center inner-form">
          <div class="col-12 col-lg-9">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-interval="false" data-display-result-target="caroussel">
              <div class="carousel-inner" data-controller="annual-calc"><%= simple_form_for @footprint,  html: { data: {display_result_target: "form", action: "submit->display-result#display"} }  do |f| %> <div class="carousel-item active justify-center-center">
                  <h4 class="mb-5 ps-2">Vos déplacements (avion et voiture) </h4>
                  <div class="caroussel-fixed overflow-auto p-2"><%= f.input :input_transport_plane,
                        input_html: {data: {action: "change->annual-calc#displayplane"}},
                        label: "Prenez-vous l'avion ?" %> <div class="row g-3" data-annual-calc-target="plane">
                      <p>Combien de vols (aller-retour) effectuez-vous dans l'année ? </p>
                      <div class="col"><%= f.input :input_transport_flights_short, label: "Domestiques (ex: Bordeaux-Lyon)", input_html: { min: '0'} %> </div>
                      <div class="col"><%= f.input :input_transport_flights_middle, label: "Moyen courrier (ex: Paris-Ibiza)", input_html: { min: '0'}  %> </div>
                      <div class="col"><%= f.input :input_transport_flights_long, label: "Long courrier (ex: Nice-Hanoï)", input_html: { min: '0'} %> </div>
                    </div><%= f.input :input_transport_car,
                                input_html: {data: {action: "change->annual-calc#displaycar"}},
                                label: "Utilisez-vous une voiture (covoiturage compris) ?" %> <div data-annual-calc-target="car">
                      <p>Comment est la voiture que vous utilisez le plus ? </p>
                      <div class="row g-2">
                        <div class="col"><%= f.input :input_transport_car_type, label: "Type de voiture", collection: ["Petite", "Moyenne", "Berline", "SUV"], selected: "Moyenne" %> </div>
                        <div class="col"><%= f.input :input_transport_car_carburant, label: "Type de carburant", collection: ["Thermique", "Hybride", "Electrique"], selected: "Thermique" %> </div>
                      </div>
                      <div class="row g-3">
                        <div class="col"><%= f.input :input_transport_car_age, label: "Age (en années)", input_html: { min: '0'} %> </div>
                        <div class="col"><%= f.input :input_transport_car_passengers, label: "Passagers (en moyenne)", input_html: { min: '0'} %> </div>
                        <div class="col"><%= f.input :input_transport_car_km, class: "col-2", label: "Km parcourus (sur l'année)", input_html: { min: '0'} %> </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center col-12">
                      <i class="btn-caroussel-next mx-2" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"> Suivant </i>
                    </div>
                  </div>
                </div>
                <div class="carousel-item justify-center-center">
                  <h4 class="ps-2">Vos déplacements (deux roues, train et transports en commun)</h4>
                  <div class="caroussel-fixed overflow-auto p-2"><%= f.input :input_transport_two_wheels,
                                            input_html: {data: {action: "change->annual-calc#displaymoto"}},
                                            label: "Avez-vous un scooter ou une moto ?",
                                            collection: ["Rien", "Scooter ou moto < 250", "Moto > 250", "Les deux"],
                                            selected: "Rien" %> <p data-annual-calc-target="textmoto" class="d-none">Combien de km parcourez-vous chaque année ? </p>
                    <div class="row g-2">
                      <div class="col d-none" data-annual-calc-target="scooter"><%= f.input :input_transport_scooter_km, label: "En scooter ou moto < 250", input_html: { min: '0'} %> </div>
                      <div class="col d-none" data-annual-calc-target="moto"><%= f.input :input_transport_moto_km, label: "En moto > 250", input_html: { min: '0'} %> </div>
                    </div><%= f.input :input_transport_train,
                                                  input_html: {data: {action: "change->annual-calc#displaytrain"}},
                                                  label: "Prenez-vous le train ?" %> <div class="row g-3" data-annual-calc-target="train">
                      <p>Combien de trajets (aller-retour) effectuez-vous dans l'année ? </p>
                      <div class="col"><%= f.input :input_transport_train_trips_short, label: "Courts trajets (ex: Cannes-Nice)", input_html: { min: '0'} %> </div>
                      <div class="col"><%= f.input :input_transport_train_trips_middle, label: "Moyens trajets (ex: Paris-Clermont)", input_html: { min: '0'} %> </div>
                      <div class="col"><%= f.input :input_transport_train_trips_long, label: "Longs trajets (ex: Lille-Nice)", input_html: { min: '0'} %> </div>
                    </div>
                    <p>Combien d'heures passez-vous en moyenne chaque semaine ? </p>
                    <div class="row g-2">
                      <div class="col"><%= f.input :input_transport_bus_hours_week, label: "Dans le bus", input_html: { min: '0'} %> </div>
                      <div class="col"><%= f.input :input_transport_metro_tram_hours_week, label: "Dans le métro ou le tram", input_html: { min: '0'} %> </div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <i class="btn-caroussel-prev mx-2" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"> Précédent </i>
                      <i class="btn-caroussel-next mx-2" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"> Suivant </i>
                    </div>
                  </div>
                </div>
                <div class="carousel-item justify-center-center">
                  <h4 class="ps-2">Votre logement et consommation energétique</h4>
                  <div class="caroussel-fixed overflow-auto p-2">
                    <p>Parlez nous de votre logement </p><%= f.input :input_home_type, label: "Quel type de logement ?", collection: ["Appartement", "Maison", "Maison eco-construite"], selected: "Maison" %> <div class="row g-3">
                      <div class="col"><%= f.input :input_home_surface, label: "Quelle est la surface en m2 de votre logement ?", input_html: { min: '0'} %> </div>
                      <div class="col"><%= f.input :input_home_old, label: "Votre logement a t'il plus de 50 ans ?" %> </div>
                      <div class="col"><%= f.input :input_home_users, label: "Combien de personnes vivent en moyenne dans votre logement ?", input_html: { min: '0'} %> </div>
                    </div><%= f.input :input_home_heat_type,
                                                                      input_html: {data: {action: "change->annual-calc#displayheatbill"}},
                                                                      label: "Comment est chauffé votre logement ?", collection: ["Electricité ou pompe à chaleur", "Gaz", "Fioul", "Bois"], selected: "Electricité ou pompe à chaleur" %> <div class="row g-2">
                      <div class="col"><%= f.input :input_home_elec_monthly_bill, label: "Quelle est votre dépense moyenne en électricité par mois ?", input_html: { min: '0'} %> </div>
                      <div class="col d-none" data-annual-calc-target="heatbill"><%= f.input :input_home_heat_bill, label: "Quel est votre dépense moyenne en chauffage (gaz, fioul ou bois) par mois ?", input_html: { min: '0'} %> </div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <i class="btn-caroussel-prev mx-2" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"> Précédent </i>
                      <i class="btn-caroussel-next mx-2" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"> Suivant </i>
                    </div>
                  </div>
                </div>
                <div class="carousel-item justify-center-center">
                  <h4 class="ps-2">Vos habitudes de consommation </h4>
                  <div class="caroussel-fixed overflow-auto p-2">
                    <div class="row g-2">
                      <div class="col"><%= f.input :input_food_diet, label: "Comment décririez vous votre régime alimentaire ?", collection: ["Vegan", "Végétarien", "Pescitarien", "Je mange peu de viande", "Alimentation mixte", "Je mange beaucoup de viande"], selected: "Alimentation mixte" %> </div>
                      <div class="col"><%= f.input :input_food_waste, label: "Pour vos déchets", collection: ["Je suis zéro déchet", "Je composte", "Je réduis le gaspillage alimentaire", "Je ne fais rien de particulier"], selected: "Je réduis le gaspillage alimentaire" %> </div>
                    </div>
                    <div class="row g-2">
                      <div class="col"><%= f.input :input_consumption_clothing, label: "Achetez-vous souvent des vêtements neufs ?", collection: ["Très souvent", "Régulièrement", "Occasionnellement", "Rarement"], selected: "Occasionnellement" %> </div>
                      <div class="col"><%= f.input :input_food_bottled_water, label: "Consommez-vous de l'eau en bouteille ?" %> </div>
                    </div>
                    <div class="row g-2">
                      <div class="col"><%= f.input :input_consumption_tech, label: "Combien avez-vous d'appareils numériques de moins de 10 ans ?", collection: ["Beaucoup", "Moyennement", "Peu"], selected: "Moyennement" %> </div>
                      <div class="col"><%= f.input :input_consumption_appliances, label: "Combien avez-vous d'électroménager de moins de 10 ans ?", collection: ["Beaucoup", "Moyennement", "Peu"], selected: "Moyennement"  %> </div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <i class="btn-caroussel-prev mx-2" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"> Précédent </i><%= f.submit "Calculer", class: "btn-caroussel-next mx-2" %> </p>
                    </div>
                  </div>
                </div><% end %> <div class="d-none">
                  <p class="resultvalue"><%= @footprint.annual_footprint_kgCO2e.nil? ? @footprint.annual_footprint_kgCO2e = 0 : @footprint.annual_footprint_kgCO2e %> </p>
                </div>
              </div>
            </div>
          <div class="row d-flex justify-content-center">
          <div class="col-12 col-lg-12">
            <div class ="row d-none" data-display-result-target="comparated">
              <h4 class="text-center"> Votre empreinte carbone annuelle est de <strong data-display-result-target="annualfp" class="key-main-number"></strong>kgCO2e</h4>
                <div class="col-12 col-lg-6">
                  <p class="text-center m-5"> Cela correspond à la consommation en carburant de :</p>
                    <div class="d-flex">
                      <div class="col-6 text-center wrap-plane"><p class="inner"><span class="key-number" data-display-result-target="jetmn"></span><br>de vol dans le <strong>jet privé</strong><br> de Vincent Bolloré</p></div>
                      <div class="col-6 text-center wrap-yacht"><p class="inner"><span class="key-number" data-display-result-target="kmyacht"></span><br>parcourus par le <strong>yacht</strong><br> de Bernard Arnault</p></div>
                    </div>
                </div>
              <%# //suppr class="d-none" & target"rep" %>
                <div class="col-12 col-lg-6">
                  <p class="text-center m-5" data-display-result-target="action" id="action"></p>
                <div data-controller="find-rep-annual" id="contactrep">
                <%# //OK vérifié %>
                    <form class="row justify-content-center">
                      <div class="col-6">
                        <input id="search-input" type="text" class="form-control" data-find-rep-annual-target="input" placeholder="Tapez votre adresse">
                      </div>
                      <div class="col-2">
                        <input type="submit" class="btn btn-flat-calc" data-action="click->find-rep-annual#find" value="Rechercher">
                      </div>
                    </form>
                <%# //OK modifié %>
                  <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 my-3"><p data-find-rep-annual-target="represult" class="text-center"></p></div>
                      <div class="col-6">
                        <a class="d-none" data-find-rep-annual-target='twitterlink' data-action='click->tweet-counter#increaseTweetCounter' href="" target="_blank"><p class="text-center mx-3"><i class="btn-message-calc"> Interpeller sur <i class="fa-brands fa-twitter"></i></i></p></a>
                        <p class="d-none" data-display-result-target="tweettext" data-find-rep-annual-target='twitterhandletext'></p>
                      </div>
                      <div class="col-6">
                        <a class="d-none" data-find-rep-annual-target='mailtolink' data-action='click->mail-counter#increaseMailCounter' href="" target="_blank"><p class="text-center mx-3"><i class="btn-message-calc"> Interpeller par <i class="fa-solid fa-envelope"></i></i></p></a>
                        <p class="d-none" data-display-result-target="mailtext" data-find-rep-annual-target='mailheadertext'></p>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="whitecuttop-earth"><%= image_tag "whitecuttop.png" %></div>
</div>
<%# type="button" %>
